.hkuc-ztree,
.hkuc-ztree ul{ margin: 0; padding: 0;}
.hkuc-ztree li{ list-style: none; }

.hkuc-ztree .tree-node-children{ padding-left:1em; }
.hkuc-ztree.tree-line li.node-line,
.hkuc-ztree.tree-line li ul{ background: repeat-y calc(0.5em - 1px) url(data:image/gif;base64,R0lGODlhAQACAIABAAAAAP///yH5BAEAAAEALAAAAAABAAIAAAICRAoAOw==); }
.hkuc-ztree.tree-line li:last-child ul{ background: none; }



.hkuc-ztree .fa-blank::after { content: "\f0c8"; color: transparent; }